<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <%= link_to "Back to Vocabularies", admin_story_origin_vocabularies_path(@origin), class: "btn btn-default" unless action_name == "index" %>
  </div>
  <div class="btn-group">
    <%= link_to "Back to Story", admin_story_origin_path(@origin), class: "btn btn-default" %>
  </div>
  <div class="btn-group">
    <%= link_to "Edit", edit_admin_story_origin_vocabulary_path(@origin, @vocabulary), class: "btn btn-primary" if action_name == "show" %>
  </div>
  <div class="btn-group">
    <%= link_to "Delete", admin_story_origin_vocabulary_path(@origin, @vocabulary), class: "btn btn-warning", data: {confirm: "Do you want delete it?"} if action_name == "show" %>
  </div>
</div>
<div class="btn-toolbar" role="toolbar" style="overflow:hidden">
  <div class="btn-group" style="float:right">
    <div><%= link_to "New", new_admin_story_origin_vocabulary_path, class: "btn btn-warning" if action_name == "index" %></div>
  </div>
</div>
