<%= form_for [:admin, @origin, @vocabulary] do |f| %>
  <% if @vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vocabulary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
      <% @vocabulary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyword %><br>
    <%= f.text_field :keyword %>
  </div>

  <div class="field">
    <%= f.label :explain %><br>
    <%= f.text_area :explain, rows: "25", style: "width:800px" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn" %>
  </div>
<% end %>
