<%= render "btn" %>

<table class="table table-striped">
  <tr>
    <th><%= Vocabulary.human_attribute_name :keyword %></th>
    <th><%= Vocabulary.human_attribute_name :explain %></th>
    <th></th>
  </tr>

  <% @vocabularies.each do |voca| %>
    <tr>
      <td><%= voca.keyword %></td>
      <td><%= truncate(voca.explain, length: 100, separator: "...") %></td>
      <td>
	<a class="" href="<%= edit_admin_story_origin_vocabulary_path(voca.story, voca) %>">
	  <span class="glyphicon glyphicon-pencil"></span>Edit
	</a>
	<%= link_to "Delete", admin_story_origin_vocabulary_path(voca.story, voca), class: "", method: :delete, data: {confirm: "Do you want delete it?"} %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @vocabularies %>
