<%= render "search_form" %>
<%= render "btn" %>

<table class="table table-striped">
  <tr>
    <th><%= Story.human_attribute_name :language %></th>
    <th><%= Story.human_attribute_name :title %></th>
    <th><%= Story.human_attribute_name :content %></th>
    <th><%= Story.human_attribute_name :translations %></th>
    <th><%= Story.human_attribute_name :vocabularies %></th>
    <th><%= Story.human_attribute_name :state %></th>
    <th></th>
  </tr>

  <% @origins.each do |origin| %>
    <tr>
      <td><%= origin.language %></td>
      <td><%= link_to origin.title, admin_story_origin_path(origin) %></td>
      <td><%= link_to truncate(origin.content, length: 100, separator: "..."), admin_story_origin_path(origin) %></td>
      <td>
	<a href="<%= admin_story_origin_translations_path(origin) %>">
	  <%= "#{origin.translations.published.count} published" %><br/>
	  <%= "#{origin.translations.preview.count} preview" %>
	</a>
      </td>
      <td><%= link_to origin.vocabularies.count, admin_story_origin_vocabularies_path(origin) %></td>
      <td class="state-<%= origin.id %>"><%= origin.state %></td>
      <td>
	<a class="" href="<%= edit_admin_story_origin_path(origin) %>">
	  <span class="glyphicon glyphicon-pencil"></span>Edit
	</a>
	<%= link_to "Delete", admin_story_origin_path(origin), class: "", method: :delete, data: {confirm: "Do you want delete it?"} %>
	<%= render "admin/stories/state_change", story: origin %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @origins %>
