<h2 class="page-title">Character Matrix Analysic to detect QR Code</h2>
<%= form_for :qr_code, url: qr_codes_path, html: {role: "form"}, remote: true do |f| %>
  <div class="field form-group">
    <%= f.label :content %>
    <%= f.text_area :content, style: "height:300px", value: (@content if defined? @content), required: true, placeholder: "Character matrix" %>
  </div>

  <div class="field form-group">
    <%= f.label :separator %>
    <%= f.select :separator, separators.map{|k, v| ["#{k} (#{v})", k]}, {include_blank: true, value: params[:qr_code].try(:[], "separator")} %>
  </div>

  <div class="field form-group">
    <%= f.label :condition, "Condition: <div class='label label-warning'>object is cell</div>".html_safe %>
    <%= f.text_area :condition, value: (@condition if defined? @condition), placeholder: "Cell condition"%>
  </div>

  <div class="field form-group">
    <%= f.submit :Analysis, class: "btn btn-warning", style: "margin-top: 20px;" %>
  </div>
<% end %>

<div id="results">
  <%= render "matrix", matrix: @character_matrix if defined? @character_matrix %>
</div>
