<h1></h1>
<table class="table table-striped table-bordered ">
  <tr>
    <th style="width: 30%;"><div><%= link_to "Encoder/Decoder", new_algorithm_path, class: "btn btn-success btn-140" %></div></th>
    <td>
      Caesar bruteforce <br/>
      Accii to Binary <br/>
      Accii to Hex <br/>
      Hex to Accii <br/>
      Base64 <br/>
      UUencode/UUdecode <br/>
      MD5
    </td>
  </tr>

  <tr>
    <th style="width: 30%;"><div><%= link_to "Image to base64", new_image_path, class: "btn btn-success btn-140" %></div></th>
    <td>
      Image to base64
    </td>
  </tr>

  <tr>
    <th style="width: 30%;"><div><%= link_to "Base64 to Image", base64_to_image_images_path, class: "btn btn-success btn-140" %></div></th>
    <td>
      Base64 to Image
    </td>
  </tr>

  <tr>
    <th style="width: 30%;">
      <div><%= link_to "QR code", new_qr_code_path, class: "btn btn-success btn-140" %></div>
      <%= link_to "QR Code Generate", qr_codes_path, class: "btn btn-success btn-140", style: "margin-top: 5px;" %>
    </th>
    <td>
      Generate QR code <br/>
      Character matrix analysic to QR code
    </td>
  </tr>

  <tr>
    <th style="width: 30%;"><div><%= link_to "Barcode", barcodes_path, class: "btn btn-success btn-140" %></div></th>
    <td>
      Generate Barcode <br/>
      Code128A<br/>
      Code128B<br/>
      Code128C<br/>
      Code25<br/>
      Code25IATA<br/>
      Code25Interleaved<br/>
      Code39<br/>
      Code93<br/>
      EAN13<br/>
      EAN8<br/>
      GS1128<br/>
      Bookland<br/>
      UPCSupplemental
    </td>
  </tr>
</table>
