<h1 class="page-title">Encoder & Decoder</h1>

<%= form_for :algorithm, url: algorithms_path, remote: true, html: {role: "form"} do |f| %>
  <div class="field form-group">
    <%= f.label :algorithm %>
    <%= f.select :type, algorithms.keys.map{|k| [k, k]}, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :content %>
    <%= f.text_area :content, style: "height:200px", class: "form-control", required: true, placeholder: "Content" %>
  </div>
  <div class="field form-group">
    <%= f.check_box :decrypt, class: "form-control" %> Decrypt
  </div>
  <div class="field form-group">
    <%= f.submit :Analysis, class: "btn btn-warning", style: "margin-top: 20px;" %>
  </div>
<% end %>
<div id="results">
</div>
