<nav class="stories-nav">
  <div class="btn-group">
    <button type="button" class="btn btn-default"><%= @current_story.title %></button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <% @stories.each do |story| %>
        <li class="<%= story.id == @current_story.id ? 'active' : '' %>"><%= link_to story.title, stories_path(story: story.id) %></li>
      <% end %>
    </ul>
  </div>

  <ul class="pager">
    <li><%= link_to "Prev", stories_path(story: @prev_story.id) if @prev_story %></li>
    <li><%= link_to "Next", stories_path(story: @next_story.id) if @next_story %></li>
  </ul>
</nav>
