<% if @current_story %>
<%= render "nav" %>

<div class="story-content">
  <h2><%= @current_story.title %></h2>
  <div class="alert alert-success" role="alert">
    <p><%= simple_format @current_story.content %></p> 
    <%= social_share_button_tag(@current_story.title, rel: @current_story.title, popup: true, url: stories_url(story: @current_story.id)) %> 
  </div>
</div>

<div class="nav-translation">
  <div class="btn-group">
    <% @translate_languages.each do |language| %>
      <%= link_to language, translate_story_path(@current_story, language: language), remote: :true, class: "btn btn-default alert alert-info" %>
    <% end %>
  </div>
</div>

<div id="translations">
</div>

<div id="vocabularies">
</div>

<%= render "nav" %>

<% if false %>
<div id="comments">
  <div id="comments-content">
    <table class="table" id="comments-holder">
      <% @current_story.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    </table>
  </div>
  <div id="comment-form">
    <%= render "comments/form", comment: Comment.new, story: @current_story %>
  </div>
</div>
<% end %>

<% end %>
