<%= form_for :image, url: create_base64_to_image_images_path, remote: true, html: {role: "form"} do |f| %>
  <div class="field form-group">
    <%= f.label :base64 %>
    <textarea style="height:500px" name="image[base64]" required="required" ><%= @base64 if defined? @base64 %></textarea>
  </div>

  <div class="field form-group">
    <%= f.submit :analysis, class: "btn btn-warning", style: "margin-top: 20px;" %>
  </div>
<% end %>
<div id="results">
  <img id="preview" src="data:image/png;base64,<%= @base64 %>"></img>
</div>
